<!-- v-bind et v-model pour un rendu interactif -->

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Projet 1-08</title>
 <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
 <div id="app">
 <section>
  <input type="text" v-model="text1" v-on:keyup="recopie">
  <input type="text" v-bind:value="text2">
 </section>
 <br>
 <section>
  <fieldset>
  <legend>Cochez les cases des langages que vous connaissez</legend>
  <input type="checkbox" v-model="knownLang" value="HTML" id="html">
  <label for="html">HTML</label>
  <input type="checkbox" v-model="knownLang" value="CSS" id="css">
  <label for="css">CSS</label>
  <input type="checkbox" v-model="knownLang" value="JavaScript" id="javascript">
  <label for="javascript">JavaScript</label>
  </fieldset>
  <p>Cases cochées : {{knownLang}}</p>
 </section>
  <section>
  <fieldset>
  <legend>Quel est votre langage préféré ?</legend>
  <input type="radio" v-model="favoriteLang" value="HTML" id="html">
  <label for="html">HTML</label>
  <input type="radio" v-model="favoriteLang" value="CSS" id="css">
  <label for="css">CSS</label>
  <input type="radio" v-model="favoriteLang" value="JavaScript" id="javascript">
  <label for="javascript">JavaScript</label>
  </fieldset>
  <p>Langage préféré : {{favoriteLang}}</p>
 </section>
</div>
<script> 
 const app = Vue.createApp({
  data() {
   return {
    text1: '',
    text2: '',
    knownLang: [],
    favoriteLang: ''
   }
 },
  methods: {
    recopie() {
     this.text2 = this.text1.toUpperCase();
    }
  }
 });
 app.mount('#app');
</script>
</body>
</html>